.navForm {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    transform: translateX(-20%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    pointer-events: none;
}

.navForm.active {
    flex-direction: row;
    display: flex;
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

.navForm>div {
    display: flex;
    gap: 5px;
}

.navForm>div>form {
    display: flex;
    gap: 5px;
    
}

.navForm>div>form>input {
    border: 2px solid #586A6A;
    border-radius: 12px;
    width: 40%;
    padding: 0px 5px 0px 10px;
    background-color: rgb(252, 252, 252);
}

.navForm>div>form>button {
    border: 2px solid #586A6A;
    border-radius: 12px;
    background-color: rgb(252, 252, 252);
    min-width: 20%;
}

.navForm>div>form>button:hover {
    border: 2px solid #669e7f;
    border-radius: 12px;
}

.navForm>div>a {
    display: flex;
    align-items: center;
}

.navForm>div>a>svg {
    height: 18px;
}