body {
  background: #e7eaf3;
  background: linear-gradient(
    180deg,
    rgba(231, 234, 243, 0.56) 17%,
    rgba(187, 187, 187, 0.62) 66%,
    rgba(170, 170, 170, 1) 89%
  );
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  min-height: 100vh;
  height: 100%;
  /* background: #C1EB9D;
    background: linear-gradient(180deg, rgba(193, 235, 157, 0.56) 18%, rgba(127, 159, 227, 1) 43%, rgba(224, 204, 232, 1) 74%, rgba(245, 231, 159, 1) 93%); */
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  padding: 5px 10px 3px 10px;
}
