.blogPostOverview {
    display: flex;
    flex-direction: column;
    padding: 50px 40px 30px 40px;
    gap: 20px;
    align-items: flex-start;

}


.blogPostOverview>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.blogPostOverview>h1 {
    font-size: 30px;
    font-weight: 500;
}

.blogPostOverview>p {
    font-size: 22px;
}

.blogPostOverview>button {
    display: flex;
    justify-content: center;
    background-color: #586A6A;
    border: #586A6A;
    border-radius: 24px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 300ms ease-in-out;
}


.blogPostOverview>button:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}
